.square {
	border: 1px solid black;
	display: inline-block;
  width: 30px;
  height: 30px;
	margin: 1px;
}

body div {
	display: inline-block;
}

button, select {
	display: block;
	border: 1px solid black;
	border-radius: 5px;
	margin: 10px;
	background-color: #fff;
	color: #000;
	padding: 10px;
}

#settings {
	float: left;
	margin: 15% 5% 20px 20px;
	width: 15%;
}

#grid-container {
	width: 60%;
  margin-top: 20px;
	text-align: center;
}